<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>firstweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.servlet.basic.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/ABC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>test servlet for genericservlet</description>
    <display-name>secondServlet</display-name>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>com.servlet.basic.MySecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/second/test.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/second/test02/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/third/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyThirdServlet</display-name>
    <servlet-name>MyThirdServlet</servlet-name>
    <servlet-class>com.servlet.basic.MyThirdServlet</servlet-class>
    <init-param>
      <param-name>anthor</param-name>
      <param-value>chris</param-value>
    </init-param>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyThirdServlet</servlet-name>
    <url-pattern>/MyThirdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyThirdServlet</servlet-name>
    <url-pattern>/third/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyThirdServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestLoadUp</display-name>
    <servlet-name>TestLoadUp</servlet-name>
    <servlet-class>com.servlet.basic.TestLoadUp</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GetURLInfo</display-name>
    <servlet-name>GetURLInfo</servlet-name>
    <servlet-class>com.servlet.basic.GetURLInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetURLInfo</servlet-name>
    <url-pattern>/GetURLInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowName</display-name>
    <servlet-name>ShowName</servlet-name>
    <servlet-class>com.servlet.basic.ShowName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowName</servlet-name>
    <url-pattern>/ShowName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.servlet.basic.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.servlet.common.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FooterServlet</display-name>
    <servlet-name>FooterServlet</servlet-name>
    <servlet-class>com.servlet.common.FooterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FooterServlet</servlet-name>
    <url-pattern>/FooterServlet</url-pattern>
  </servlet-mapping>
</web-app>