<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet_demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>380</error-code>
    <location>/LoginView</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginView</display-name>
    <servlet-name>LoginView</servlet-name>
    <servlet-class>com.servlet.view.LoginView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginView</servlet-name>
    <url-pattern>/LoginView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAction</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.servlet.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainFrame</display-name>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>com.servlet.view.MainFrame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.servlet.common.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FooterServlet</display-name>
    <servlet-name>FooterServlet</servlet-name>
    <servlet-class>com.servlet.common.FooterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FooterServlet</servlet-name>
    <url-pattern>/FooterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tokenServlet</display-name>
    <servlet-name>tokenServlet</servlet-name>
    <servlet-class>com.servlet.util.ImageTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tokenServlet</servlet-name>
    <url-pattern>/token</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodeFilter</display-name>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.servlet.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>PermissionFilter</display-name>
    <filter-name>PermissionFilter</filter-name>
    <filter-class>com.servlet.filter.PermissionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PermissionFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.servlet.listener.BackupListener</listener-class>
  </listener>
</web-app>